.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-item {
  cursor: pointer;
  margin: 10px;
  margin-left: 0px;
  padding: 1rem;
  border-radius: 0px 10rem 10rem 0px;
}
